{% extends 'base.html' %}
{% load static %}

{% block header %}
    <div class="hero">
        {% include 'includes/inc_main_menu.html' %}
        <h1>{{ title|title }}</h1>
    </div>
{% endblock %}
{% block content %}
    <div class="category_delete">
        <div class="h1">Уверены, что хотите удалить?</div>
        {% include 'ordersapp/includes/inc_order_summary.html' %}
        <form action="{% url 'ordersapp:delete' object.pk %}" method="post">
            {% csrf_token %}
            <input class="button-order-action" type="submit" value="удалить">
        </form>
        <button class="button-order-action">
            <a href="{% url 'ordersapp:list' %}">отмена</a>
        </button>
    </div>
{% endblock %}
