{% load static %}
<div class="header clearfix">
    <div class="logo">
        <a href="{% url 'index' %}"></a>
    </div>
    <div class="div_for_menu">
        <ul class="menu">
            {% for link in links %}
                <li>
                    <a href="{% url link.href %}"
                       class="{% if request.resolver_match.url_name == link.href %}
                                active
                              {% endif %}
                            {% if link.href == 'mainapp:products' %}
                            fa fa-angle-down
                            {% endif %}">
                        {{ link.name }}
                    </a>
                {% if link.href == 'mainapp:products' %}
                    <ul class="links-menu submenu">
                        <li>
                            <a href="{% url 'products:category' 0 %}"
                               class="{% if request.resolver_match.kwargs.pk == 0 %}
                                active
                                {% endif %}">
                                все
                            </a>
                        </li>
                        {% for category in categories %}
                            <li>
                                <a href="{% url 'products:category' category.pk %}"
                                   class="{% if request.resolver_match.kwargs.pk == category.pk %}
                                        active
                                    {% endif %}">
                                    {{ category.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </li>
            {% endfor %}
            {% for auth in auth %}
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url auth.href %}"
                           class="{% if request.resolver_match.url_name == auth.href %}
                               active
                                  {% endif %} fa fa-angle-down">
                            {{ auth.name.first_name }}
                        </a>
                        <ul class="submenu">
                            {% if user.is_superuser %}
                                <li>
                                    <a href="{% url 'admin_staff:users' %}"
                                       class="{% if request.resolver_match.url_name == link.href %}
                                            active
                                        {% endif %}">
                                        админка
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'order:list' %}"
                                       class="{% if request.resolver_match.url_name == link.href %}
                                            active
                                        {% endif %}">
                                       заказы</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'auth:logout' %}">выйти</a>
                {% else %}
                    <a href="{% url 'auth:login' %}">войти</a>
                {% endif %}
            </li>
        </ul>
    </div>
    <div class="div_for_search">
        <a href="#" class="search"></a>
    </div>
    <div class="div_for_basket">
        {% if basket %}
            <a href="{% url 'basket:basket' %}" class="fa fa-shopping-basket basket">
                <span id="basket_cost">{{ basket.0.total_cost }} руб</span>
                <span id="basket_quantity">({{ basket.0.total_quantity }} шт.)</span>
            </a>
        {% else %}
            <a href="{% url 'basket:basket' %}" class="fa fa-shopping-basket basket">
                товаров нет
            </a>
        {% endif %}
    </div>
</div>
