{% extends 'admin_base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
    <h1 class="mt-4">Категории товаров</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fa fa-table mr-1"></i>
                <a href="{% url 'adminapp:categories' %}">Категории</a>
            </div>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Категория</th>
                    <th>Номер категории</th>
                    <th>Подробнее</th>
                    <th>Ссылка на товары</th>
                    <th>Редактировать</th>
                    <th>Удалить</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Категория</th>
                    <th>Номер категории</th>
                    <th>Подробнее</th>
                    <th>Ссылка на товары</th>
                    <th>Редактировать</th>
                    <th>Удалить</th>
                </tr>
                </tfoot>
                <tbody>
                    {% for category in object_list %}
                        <tr {% if not category.is_active %} style="opacity: 0.5;" {% endif %}>
                            <td>
                                {{ category.name|title }}
                            </td>
                            <td>
                                {{ category.pk }}
                            </td>
                            <td>
                                <button class="btn btn-primary">
                                    <a class="text-white" href={% url 'adminapp:category' category.pk %}>
                                         подробнее
                                    </a>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-primary">
                                    <a class="text-white" href={% url 'adminapp:products' category.pk %}>
                                        товары категории
                                    </a>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-warning">
                                    <a class="text-dark" href={% url 'adminapp:category_update' category.pk %}>
                                        редактировать
                                    </a>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger">
                                    <a class="text-white" href={% url 'adminapp:category_delete' category.pk %}>
                                        удалить
                                    </a>
                                </button>
                            </td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>
            <div class="card-footer">
                <button class="btn btn-success">
                    <a class="text-white" href={% url 'adminapp:products' 0 %}>
                        смотреть все
                    </a>
                </button>
                <button class="btn btn-success">
                    <a class="text-white" href={% url 'adminapp:category_create' %}>
                        новая категория
                    </a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
