{% load static %}
<div class="div_for_categories">
    <div class="links clearfix">
        <ul class="links-menu">
            <li>
                <a href="{% url 'products:category' 0 %}"
                   class="{% if request.resolver_match.kwargs.pk == 0 %}
                            active
                          {% endif %}">
                    все
                </a>
            </li>
            {% for category in categories %}
                <li>
                    <a href="{% url 'products:category' category.pk %}"
                       class="{% if request.resolver_match.kwargs.pk == category.pk %}
                            active
                          {% endif %}">
                    {{ category.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
