<!doctype html>
{% load static %}

<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {{title|title}}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'style-music-shop.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    {% endblock %}
    {% block js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/jquery.formset.js' %}"></script>
        <script src="{% static 'js/order_script.js' %}"></script>
    {% endblock %}
</head>

<body>
    <div class="container">
        {% block header %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>
    <hr>
    {% include 'includes/inc_footer.html' %}
</body>
</html>
