{% extends 'admin_base.html' %}
{% load static %}

{% block content %}
    <div class="user_delete">
        Уверены, что хотите удалить {{ object.username }}
        {% if object.first_name %}
            <b>{{ object.first_name|title }}</b>
            {% if object.last_name %}
                {{ object.last_name|title }}
            {% endif %}
        {% endif %}
        ?
        <form action="{% url 'adminapp:user_delete' object.pk %}"
              method="post">
            {% csrf_token %}
            <div>
                <button class="btn btn-danger" type="submit">
                    Удалить
                </button>
            </div>
        </form>
        <br>
        <div>
            <button class="btn btn-success">
                <a href="{% url 'adminapp:users' %}" class="text-white">
                    Отмена
                </a>
            </button>
        </div>
    </div>
{% endblock %}
