{% extends 'base.html' %}
{% load static %}

{% block header %}
    <div class="hero-white">
        {% include 'includes/inc_main_menu.html' %}
    </div>
{% endblock %}
{% block content %}
    {% include 'includes/inc_category_menu.html' %}
    <div class="featured">
        <h2>Категория: {{ category.name }}</h2>
        <div class="tab-content">
            {% for product in products %}
                <div class="block">
                    <a href="{% url 'products:product' product.pk %}">
                        <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
                        <div class="text">
                            <img src="{% static 'img/icon-hover.png' %}" alt="hover">
                            <h4>{{ product.name }}</h4>
                            <p>{{ product.description }} </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="paginator">
            {% if products.has_previous %}
                <a href="{% url 'products:page' category.pk products.previous_page_number %}">
                    <
                </a>
            {% endif %}
            <span class="current">
                Страница {{ products.number }} из {{ products.paginator.num_pages }}
            </span>
            {% if products.has_next %}
                <a href="{% url 'products:page' category.pk products.next_page_number %}">
                    >
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
