{% extends 'base.html' %}
{% load static %}

{% block header %}
    <div class="hero">
        {% include 'includes/inc_main_menu.html' %}
        <h1>{{ title|title }}</h1>
    </div>
{% endblock %}
{% block content %}
    <div class="edit_container">
        <div class="avatar">
            {% if not user.avatar %}<i class="fas fa-user-circle icon fa-10x"></i>
            {% else %}
                <img src="/media/{{ user.avatar }}" class="rounded-circle">
            {% endif %}
        </div>
        <div class="edit_form">
            <form class="" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ edit_form.as_table }}
                    {{ profile_form.as_table }}
                </table>
                <input class="button-order-edit" type="submit" value="сохранить">
            </form>
            <button class="button-order-edit">
                <a href="{% url 'index' %}" class="">
                    на главную
                </a>
            </button>
        </div>
    </div>
{% endblock %}
