{% if basket %}
    <div class="basket_list_main">
        {% for item in basket %}

            <div class="basket_record">
                <img src="/media/{{ item.product.image }}"
                     alt="{{ item.product.short_desc }}">
                <div class="span_container">
                    <span class="category_name">{{ item.product.category.name }}</span>
                    <span class="product_name">{{ item.product.name }}</span>
                    <span class="product_price">{{ item.product.price }}&nbspруб</span>
                </div>
                <input type="number" name="{{ item.pk }}" min="0"
                       value="{{ item.quantity }}">
                <span class="product_cost">{{ item.cost }}&nbspруб</span>
                <button class="button-order-delete">
                    <a href="{% url 'basket:basket_remove' item.pk %}" class="">
                        Удалить
                    </a>
                </button>
            </div>
        {% endfor %}
        <div class="basket_summary">
            <span id="basket_quantity">В корзине {{ basket.0.total_quantity }} товаров общей стоимостью</span>
            <span id="basket_cost">{{ basket.0.total_cost|floatformat:0 }} руб</span>
        </div>
        <button class="button-order-edit">
            <a href={% url 'ordersapp:create' %}>
                Создать заказ
            </a>
        </button>
        <button class="button-order-edit">
            <a href="{% url 'basket:basket_remove_all' %}" class="">
                Очистить корзину
            </a>
        </button>
    {% else %}
        <h4>Корзина пуста</h4>
    </div>
{% endif %}
