{% extends 'base.html' %}
{% load static %}
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/change_basket.js' %}"></script>
{% endblock %}
{% block header %}
    <div class="hero-white">
        {% include 'includes/inc_main_menu.html' %}
    </div>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="basket_container">
            <div class="row">
                <div class="basket_list">
                    {% include 'includes/inc_basket_list.html' %}
                </div>
                {% if basket %}
                    <div class="basket_summary">
                        В корзине {{ basket.0.total_quantity }} товаров общей стоимостью
                        {{ basket.0.total_cost }} руб
                    </div>
                    <button class="button-order-edit">
                        <a href={% url 'ordersapp:create' %}>
                            Создать заказ
                        </a>
                    </button>
                    <button class="button-order-edit">
                        <a href="{% url 'basket:basket_remove_all' %}" class="">
                            Очистить корзину
                        </a>
                    </button>
                {% else %}
                    <h4>Корзина пуста</h4>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
